html, body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	padding: 0;
	margin: 0;
	color: #000;
	/*background: #fff url('../img/neutral-bg.gif') 0 -400px  repeat-x;*/
}
.labelRect {
	opacity: 0.9;
	cursor: pointer;
}
.labelText {
	opacity: 1;
	cursor: pointer;
	pointer-events:none;
	color:#333;
}
.labelOptCirc {
	cursor: pointer;
}
.colorPick {
	cursor: pointer;
}
